# Local History
.history/

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Virtual Environment
venv/
env/
.venv/

# Environment Variables
.env

# IDEs
.vscode/
.idea/

# Distribution / Packaging
build/
dist/
*.egg-info/
.eggs/

# Unit Test / Coverage
htmlcov/
.coverage
.coverage.*
.pytest_cache/
.tox/

# Jupyter Notebook
.ipynb_checkpoints